body {
  background-color: #0f172a;
  color: #e2e8f0;
  font-family: 'Verdana', sans-serif;
  min-height: 100vh;
}

h1 {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-top: 70px;
    margin-bottom: 70px;
}

.menu{
    display: flex;
    color: white;
    font-size: 32px;
    font-weight: bold;
    flex-direction : row;
    justify-content: center;
    align-items: center;
    border-bottom: lightgrey solid 1px;
    text-align: center;
}
.menu a{
    width: 60%;
    height: 80px;
    text-align: center;
    line-height: 80px;
    text-decoration: none;
    color: white;
    gap: 30px;
}

.menu a:hover{
    text-decoration: underline;
}
